@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

body{
    margin: 0;
    background-color: black;
    padding-top:  4.5rem;
}


a{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}


.manrope{
    font-family: 'Manrope', sans-serif;

}


.ubuntu-shrift {
    font-family: 'Ubuntu', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.resonsive-main-text-style{
    font-size: 1.8rem;
}

@media (max-width: 576px) {
    .resonsive-main-text-style {
        font-size: 1.5rem;
    }
}


.accordion-icons {
    position: absolute;
    right: 30px;
    top:  50%;
    transform: translateY(-50%);
    color: black;
}

.image-text-main-class {
    color: black;
     background-color: white;
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     display: block;
}

.themes-animations {
    cursor: pointer;
    margin-top: 60px;
    border: 5px solid white;
    border-radius: 5px;
}

.themes-animations:hover{
    border-radius: 5px;
    border: 5px solid #003CFF;
}

.animation-themes-block {
    position: absoue;
    width: 100%;
    height:  100%;
    background-color: black;
}

.responsive-image-text-class {
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .responsive-image-text-class {
        font-size: 1.2rem;
    }
}












@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');  
footer {  
    padding: 20px 0;  
}  
footer .section-title {  
    text-align: center;  
    color: #007b5e;  
    margin-bottom: 50px;  
    text-transform: uppercase;  
}  
#footer {  
    background: #6A6A6A;  
}  
#footer h5 {  
    padding-left: 10px;  
    border-left: 3px solid #eeeeee;  
    padding-bottom: 6px;  
    margin-bottom: 20px;  
    color:#ffffff;  
}  
#footer a {  
    color: #ffffff;  
    text-decoration: none !important;  
    background-color: transparent;  
}  
#footer ul.social li {  
    padding: 3px 0;  
}  
#footer ul.social li a i {  
    margin-right: 5px;  
    font-size:25px;  
    -webkit-transition: .5s all ease;  
    -moz-transition: .5s all ease;  
    transition: .5s all ease;  
}  
#footer ul.social li:hover a i {  
    font-size:30px;  
    margin-top:-10px;  
}  
#footer ul.social li a  
{  
    color:#ffffff;  
}  
#footer ul.social li a:hover {  
    color:#eeeeee;  
}  
#footer ul.quick-links li a {  
    color:#ffffff;  
}  
#footer ul.quick-links li {  
    padding: 3px 0;  
    -webkit-transition: .5s all ease;  
    -moz-transition: .5s all ease;  
    transition: .5s all ease;  
}  
#footer ul.quick-links li:hover {  
    padding: 3px 0;  
    margin-left:5px;  
    font-weight:700;  
}  
#footer ul.quick-links li a i {  
    margin-right: 5px;  
}  
#footer ul.quick-links li:hover a i {  
    font-weight: 700;  
}  

#footer h5 { 
    color: black;
    padding-left: 0;  
    border-left: transparent;  
    padding-bottom: 0px;  
    margin-bottom: 10px; 
    font-size: 20px;
}   
#footer h2 {  
padding: 25px 0;  
text-align: center;  
color: #fff;  
background: #7c8490;  
}

#footer .main-footer-link {
    color: #F87373;
    text-decoration: none;
    position: relative;
}


#footer .main-footer-link:hover {
  color: #FF4747;
}

#footer .main-footer-link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4A4848;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#footer .main-footer-link:hover::before {
  transform: scaleX(1);
}